<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center pt-5">
        <div class="section text-center">
            <div class="pt-4">

                <button><a href="/profile">Back</a></button>
                <h5>Add Post</h5>
                <form action="/addGymPost" method="post">
                    <input class="form-control mb-2" type='text' name="title" placeholder="Title">
                    <textarea class="form-control mb-2" name="post" placeholder="Post"></textarea>
                    <input class="form-control" type="submit">
                </form>
                <h5>Posts</h5>
                <% for (let i = 0; i < posts.length; i++) { %>
                <a href="gymPost/<%= posts[i].id %>">
                <div class="card p-3 m-2">
                    <% for (let j = 0; j < people.length; j++) { %>
                        <%if(posts[i].userId == people[j].id) {%>
                            <h5><%=posts[i].title%></h5>
                            <p>Post By: <%= people[j].name %></p>
                            <p><%= posts[i].post %></p>
                        <%}%>
                    <%}%>
                </div>
                </a>
                <%}%>
            </div>
        </div>
    </div>


</div>
</body>

</html>